//Should use grid to style #header, #main and #footer
//Flexbox for the items in #main? 

#header, #article, #footer {
    width: 960px;
    margin: auto;
}

#article {
    border: solid #CCC;
    border-width: 1px 0 0;
}

// CSS Grid generator: https://grid.layoutit.com/
/* relies on the fact that all HTML is NOT nested eg.
<div class="grid-container"></div> 
*/

.grid-container {
  display: grid;
  grid-template-columns: 20% 1fr 40%;
  grid-template-rows: 30% 1fr;
  grid-template-areas: ". . ." ". . .";
}

//Use @Media queries
//@media not|only mediatype and (mediafeature and|or|not mediafeature) {}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

